<configuration>
    <configSections>
        <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    </configSections>
    <loggingConfiguration name="" tracingEnabled="true" defaultCategory="General">
        <listeners>
            <add name="Database Log" type="Microsoft.Practices.EnterpriseLibrary.Logging.Database.FormattedDatabaseTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging.Database, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Database.Configuration.FormattedDatabaseTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging.Database, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                databaseInstanceName="Logging" writeLogStoredProcName="EntLib.xspWriteLog"
                addCategoryStoredProcName="EntLib.xspAddCategory" formatter="Error Log Formatter" />
            <add name="Diagnostic Log File" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                fileName="C:\Program Files (x86)\NWP\Logs\OCISWEBSIT03_NwpDiagnostics.log"
                formatter="Error Log Formatter" rollInterval="Day" maxArchivedFiles="20" />
            <add name="Database Perf Log" type="Microsoft.Practices.EnterpriseLibrary.Logging.Database.FormattedDatabaseTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging.Database, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Database.Configuration.FormattedDatabaseTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging.Database, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                databaseInstanceName="Logging" writeLogStoredProcName="EntLib.xspWritePerfLog"
                addCategoryStoredProcName="EntLib.xspDevNull" formatter="Perf Log Formatter" />
            <add name="Event Log Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                source="Demo Application Errors" formatter="Error Log Formatter"
                log="Application" />
            <add name="Update Log Database" type="Microsoft.Practices.EnterpriseLibrary.Logging.Database.FormattedDatabaseTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging.Database, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Database.Configuration.FormattedDatabaseTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging.Database, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                databaseInstanceName="Logging" writeLogStoredProcName="EntLib.spUpdateLogIS01"
                addCategoryStoredProcName="EntLib.xspDevNull" formatter="Error Log Formatter" />
        </listeners>
        <formatters>
            <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                template="Timestamp: {{timestamp(local)}}{newline}&#xA;Message: {message}{newline}&#xA;Category: {category}{newline}&#xA;Priority: {priority}{newline}&#xA;EventId: {eventid}{newline}&#xA;Severity: {severity}{newline}&#xA;Title:{title}{newline}&#xA;Machine: {localMachine}{newline}&#xA;App Domain: {localAppDomain}{newline}&#xA;-------- Extended Properties -------{newline}&#xA;{dictionary({key}: {value}{newline})}"
                name="Error Log Formatter" />
            <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                template="{dictionary({key}: {value}{newline})}" name="Perf Log Formatter" />
            <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                template="Timestamp: {{timestamp(local)}}{newline}&#xA;{dictionary({key}: {value}{newline})}"
                name="Web Transaction Formatter" />
        </formatters>
        <categorySources>
            <add switchValue="All" name="General">
                <listeners>
                    <add name="Database Log" />
                </listeners>
            </add>
            <add switchValue="All" name="Diagnostic">
                <listeners>
                    <add name="Diagnostic Log File" />
                </listeners>
            </add>
            <add switchValue="All" name="Debug">
                <listeners>
                    <add name="Diagnostic Log File" />
                </listeners>
            </add>
            <add switchValue="All" name="Info">
                <listeners>
                    <add name="Diagnostic Log File" />
                </listeners>
            </add>
            <add switchValue="All" name="Performance">
                <listeners>
                    <add name="Database Perf Log" />
                </listeners>
            </add>
            <add switchValue="All" name="UpdateLog">
                <listeners>
                    <add name="Update Log Database" />
                </listeners>
            </add>
        </categorySources>
        <specialSources>
            <allEvents switchValue="All" name="All Events" />
            <notProcessed switchValue="All" name="Unprocessed Category">
                <listeners>
                    <add name="Database Log" />
                </listeners>
            </notProcessed>
            <errors switchValue="All" name="Logging Errors &amp; Warnings">
                <listeners>
                    <add name="Event Log Trace Listener" />
                </listeners>
            </errors>
        </specialSources>
    </loggingConfiguration>
    <connectionStrings>
        <add name="Logging" connectionString="Server=.\SQLEXPRESS;Connection Timeout=60;Trusted_Connection=Yes;Initial Catalog=AdventureWorks;"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>
